</div>

<script src="../public/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="../public/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<!--&lt;!&ndash; jQuery文件。务必在bootstrap.min.js 之前引入 &ndash;&gt;
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

&lt;!&ndash; 最新的 Bootstrap 核心 JavaScript 文件 &ndash;&gt;
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
</body>
</html>